/* Links de donde saque algunos estilos de fondos, colores, etc */

/* https://smooth.ie/blogs/news/svg-wavey-transitions-between-sections */
/* https://uigradients.com/#GradeGrey */
/* https://coolors.co/palette/ff6700-ebebeb-c0c0c0-3a6ea5-004e98 */
/* https://fontawesome.com */

/* Links de donde saque algunos estilos de fondos, colores, etc */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
/* font-family: 'PT Sans Narrow', sans-serif; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans Narrow', sans-serif;
}
a{
    text-decoration: none;
}
:root{
    --main-color: rgb(255, 103, 0);
    --main-color-blanco: rgb(235, 235, 235);
     
}
.container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Header */

header{
    position: fixed;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    background-color: var(--main-color-blanco);
    z-index: 1000;
    width: 100%;
}
.nav__links{
    list-style: none;
    transition: all 1s;
}
.nav__links li{
    display: inline-block;
    padding: 10px 20px;
}
.nav__links li a{
    font-size: 1.25rem;
    color: rgb(160, 160, 160);
    padding: 10px;
    transition: .5s ease color;
}
.nav__links li a:hover{
    color: var(--main-color);
    text-decoration: underline;
}
/* Fin Header */

/* Main Section */
#main{
    background-image: url(../media/etrrfondo.jpg  );
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}
#main .main{
    margin-left: 25px;
    justify-content: flex-start;
}
#main::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .8;
    z-index: -1;
}

#main h1{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1.4s;
}
#main .main__button{
    display: inline-block;
    padding: 10px 30px;
    color: var(--main-color);
    background-color: transparent;
    border: solid 2px var(--main-color);
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 20px;
    transition: .3s ease background-color;
    transition-property: background-color, color;
}
#main .main__button:hover{
    color: var(--main-color-blanco);
    background-color: var(--main-color);
}
#main h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: var(--main-color);
    animation: text_reveal_box 1s ease;
    animation-delay: 1s;

}
.header__button{
    position: absolute;
    top: 0px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}
.container-.nav{
    width: 100%;
    height: 30px;
}
/* Fin Main Section */

/* Acerca de mi */
#about__mobile{
    display: flex;
    height: 110vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.about__text{
    order: 2;
    width: 33.33%;
    padding: 20px;
    color: var(--main-color-blanco);
}
.about__text h2{
    font-size: 5rem;
    text-decoration: underline var(--main-color);
    transform: translateY(-10px);
}
.about__text h3{
    font-size: 2.5rem;
}
.about__text p{
    font-size: 1.5rem;
    padding-top: 20px;
}
.about__text p::first-letter{
    color: var(--main-color);
}
.about__img{
    order: 1;
    transform: translateX(-100px);
}
.about__img img{
    height: 95vh;
    width: 500px;
    border: solid var(--main-color);
}

/* Fin acerca de mi */

/* Estudios */

#estudios{
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-areas: 
    "title title title"
    "logo logo logo"
    "text text text"
    "img img img";
}
.estudios__title{
    display: flex;
    align-items: center;
    grid-area: title;
    justify-content: center;
    font-size: 5rem;
    color: var(--main-color);
}
.estudios__img{
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-items: center;
}
.estudios__p{
    display: flex;
    grid-area: text;
    text-align: center;
    margin: 0 15%;
    font-size: 1.5rem;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    /* display: flex;
    grid-area: text;
    justify-content: center;
    text-align: center;
    margin: 0 15%;
    font-size: 1.5rem; */
}
.estudios__p p::first-letter{
    color: var(--main-color);
}
.estudios__container-img{
    /* grid-area: img;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    align-items: end;
    justify-content: center;
    padding: 10px; */
    display: flex;
    flex-direction: row;    
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    grid-area: img;
    margin-bottom: 5rem;
}
.estudios__container-img img{
    max-width: 400px;
    min-height: 335px;
    object-fit: cover;
    border: solid var(--main-color);
}
/* Fin estudios */

/* Footer */
#footer{
    width: 100%;
    background-color: var(--main-color-blanco);
    position: fixed;
    bottom: 0%;
}
.nav__ul-contacto{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}
.nav__ul-contacto a{
    font-size: 2.5rem;
    color: var(--main-color);
    color: rgb(160, 160, 160);
}
.h4-container{
    display: flex;
    justify-content: center;
    color: rgb(160, 160, 160);
}

/* Fin Footer */

/* Animaciones */
@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}
@keyframes text_reveal{
    100%{
        color: var(--main-color-blanco);
    }
}
/* Fin Animaciones */

/* (Mobile) */
@media only screen and (max-width:1200px){
    /* Header (Mobile) */

    /* *{
        font-size: 2vh;
    } */
    .header{
        padding: 20px;
    }
    
    .header__button{
        display: block;
    }
    .nav__links{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 70vh;
        justify-content: center;
        margin-top: -1000px ;
    }
    .nav:hover > .nav__links {
        margin-top: 30px;
    }
    /* Fin Header (Mobile) */

    /* Acerca de mi (Mobile) */
    #about__mobile{
        display: flex;
        justify-content: left;
        align-items: flex-start;
        flex-direction: column;
        height: 120vh;
    }
    .about__text{
        width: 100%;
        order: 1;
        /* transform: translateY(2vh); */
    }
    .about__text h2{
        font-size: 3rem;
    }
    .about__text p{
        transform: translateY(55vh);
    }    
    .about__img{
        width: 100%;
    }
    .about__img img{
        position: absolute;
        width: auto;
        top: 0;
        /* left: 0; */
        right: 0;
        /* bottom: 0; */
        margin: auto;
        height: 50vh;
        transform: translateY(-170px);
    }
    /* Fin Acerca de mi */

    /* Estudios */
    #estudios{
        display: flex;
        flex-direction: column;
    }
    .estudios__title{
        justify-content: center;
        font-size: 2rem;
    }
    /* Fin Estudios */
    }

@media (max-width: 1200px)
{
    .estudios__p{
        font-size: 1rem;
        margin-bottom: 10px;
        /* text-align: center;
        font-size: 1rem;
        margin-bottom: 10px;
        margin-right: 0;
        margin-left: 0;
        width: 80%; */
    }
    .estudios__container-img{
        flex-direction: column;
    }
    .estudios__container-img img{
        width: 70%;
    }
    .estudios__container-img3 {
    margin-bottom: 7rem;
}
}